<div class="breadcrumb">
  <span style="font-weight: bolder">Lista de Atores</span>
  <span class="btnAdd"><%= link_to 'New Actor', new_actor_path %></span>
</div>

<table width="100%">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <% unless actor.movie.nil? %>
            <td><%= actor.movie.title %></td>
        <% end %>
        <td><%= actor.name %></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
        <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

