<div id="pageAddresses" class="addressesContent">

<div class="breadcrumb">
  <span>Lista de Endereços</span>
  <span class="btnAdd"><%= link_to 'New Address', new_address_path %></span>
</div>

<table>
  <thead>
    <tr>
      <th width="30%" style="padding-left: 30px">Rua</th>
      <th width="12%">Número</th>
      <th width="12%">Cidade</th>
      <th width="12%">País</th>
      <th width="12%" >Estado</th>
      <th width="12%">Cep</th>
      <th width="3%"></th>
      <th width="3%"></th>
      <th width="3%" style="padding-right: 30px"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td style="padding-left: 30px"><%= address.street %></td>
        <td><%= address.number %></td>
        <td><%= address.city %></td>
        <td><%= address.country %></td>
        <td><%= address.state %></td>
        <td><%= address.cep %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td style="padding-right: 30px"><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>

