<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('street') %></strong>
  <%= @address.street %>
</p>

<p>
  <strong><%= t('number') %></strong>
  <%= @address.number %>
</p>

<p>
  <strong><%= t('city') %></strong>
  <%= @address.city %>
</p>

<p>
  <strong><%= t('country') %></strong>
  <%= @address.country %>
</p>

<p>
  <strong><%= t('state') %></strong>
  <%= @address.state %>
</p>

<p>
  <strong><%= t('cep') %></strong>
  <%= @address.cep %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
