<div class="breadcrumb">
  <span style="font-weight: bolder"><%= t 'actors_list' %></span>
  <span class="btnAdd"><%= link_to I18n.t('new_actor'), new_actor_path %></span>
</div>

<table width="100%">
  <thead>
    <tr>
      <th><%= t t('movie_title') %></th>
      <th><%= t t('name') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <% unless actor.movie.nil? %>
            <td><%= actor.movie.title %></td>
        <% end %>
        <td><%= actor.name %></td>
        <td><%= link_to I18n.t('button.show'), actor %></td>
        <td><%= link_to I18n.t('button.edit'), edit_actor_path(actor) %></td>
        <td><%= link_to I18n.t('button.destroy'), actor, method: :delete, data: { confirm: I18n.t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

