<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('movie_title') %></strong>
  <%= @actor.movie.title %>
</p>

<p>
  <strong><%= t('name') %></strong>
  <%= @actor.name %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
