<%= form_for(@cinema) do |f| %>
    <% if @cinema.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cinema.errors.count, "error") %> prohibited this cinema from being saved:</h2>

          <ul>
            <% @cinema.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address_id %>
      <br>
      <%= f.collection_select(:address_id, Address.all, :id, :street) %>
    </div>
    <div class="field">
      <%= f.label :openTime %>
      <br>
      <%= f.datetime_select :openTime %>
    </div>
    <div class="field">
      <%= f.label :closeTime %>
      <br>
      <%= f.datetime_select :closeTime %>
    </div>
    <div class="field">
      <%= f.label :sunday %>
      <br>
      <%= f.text_field :sunday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label :monday %>
      <br>
      <%= f.text_field :monday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label :tuesday %>
      <br>
      <%= f.text_field :tuesday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label :wednesday %>
      <br>
      <%= f.text_field :wednesday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label :thursday %>
      <br>
      <%= f.text_field :thursday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label :friday %>
      <br>
      <%= f.text_field :friday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label :saturday %>
      <br>
      <%= f.text_field :saturday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label :holiday_price %>
      <br>
      <%= f.text_field :holiday_price, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
