<div class="breadcrumb">
  <span style="font-weight: bolder"><%= t('list_cinemas') %></span>
  <span class="btnAdd"><%= link_to t('new_cinema'), new_cinema_path %></span>
</div>

<table width="100%">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('address') %></th>
      <th><%= t('opentime') %></th>
      <th><%= t('closetime') %></th>
      <th><%= t('sunday') %></th>
      <th><%= t('monday') %></th>
      <th><%= t('tuesday') %></th>
      <th><%= t('wednesday') %></th>
      <th><%= t('thursday') %></th>
      <th><%= t('friday') %></th>
      <th><%= t('saturday') %></th>
      <th><%= t('holiday') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= cinema.name %></td>
        <td><%= cinema.address.street %></td>
        <td><%= cinema.openTime %></td>
        <td><%= cinema.closeTime %></td>
        <td><%= cinema.sunday %></td>
        <td><%= cinema.monday %></td>
        <td><%= cinema.tuesday %></td>
        <td><%= cinema.wednesday %></td>
        <td><%= cinema.thursday %></td>
        <td><%= cinema.friday %></td>
        <td><%= cinema.saturday %></td>
        <td><%= cinema.holiday_price %></td>
        <td><%= link_to 'Show', cinema %></td>
        <td><%= link_to 'Edit', edit_cinema_path(cinema) %></td>
        <td><%= link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


