<%= form_for @movie, :html => { :multipart => true } do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :synopsis %><br>
    <%= f.text_field :synopsis %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :minimumAge %>
  </div>
  <div class="field">
    <%= f.label :cover_url %><br>
    <%= f.text_field :cover_url %>
  </div>
  <div class="field">
    <%= f.label :duration_in_minutes %><br>
    <%= f.number_field :durationInMinutes %>
  </div>
  <div class="field">
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
    <div class="field">
      <%= f.label :imdbLink %><br>
      <%= f.text_field :imdbLink %>
    </div>
    <div class="field">
      <%= f.label :youtubeLink %><br>
      <%= f.text_field :youtubeLink %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
