<div class="breadcrumb">
  <span style="font-weight: bolder">Listas de Filmes</span>
  <span class="btnAdd"><%= link_to 'New Movie', new_movie_path %></span>
</div>

<%= link_to 'Voltar', action: 'index' %>
<table width="100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Synopsis</th>
      <th>Age</th>
      <th>Cover</th>
      <th>Duration in minutes</th>
      <th>Director</th>
      <th>Gender</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr href="">
        <td><%= movie.title %></td>
        <td><%= movie.synopsis %></td>
        <td><%= movie.minimumAge %></td>
        <td><%= image_tag movie.cover.url(:thumb) %></td>
        <td><%= movie.durationInMinutes %></td>
        <td><%= movie.director %></td>
        <td><%= movie.gender %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <div href=""></div>
    <% end %>
  </tbody>
</table>

<br>


