<p id="notice"><%= notice %></p>

<div style="float: left; margin-right: 50px">
  <%= image_tag @movie.cover.url(:medium) %>
</div>

<div style="float: left; width: 700px">

  <p style="font-size: 25px; color: #C60200; font-weight: 100">
  <%= @movie.title %>
  </p>

  <br>


  <p>
    <strong>Synopsis:</strong>
    <br>
    <%= @movie.synopsis %>
  </p>

  <div style="clear: both"><br /></div>

  <div style="float: left">
    <strong>Age:</strong>
    <br>
    <%= @movie.age %>
  </div>

  <div style="float: left">
    <strong>Duration in minutes:</strong>
    <br>
    <%= @movie.duration_in_minutes %>
  </div>

  <div style="float: left">
    <strong>Director:</strong>
    <br>
    <%= @movie.director %>
  </div>

  <div style="float: left">
    <strong>Gender:</strong>
    <br>
    <%= @movie.gender %>
  </div>

  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
</div>

