<h1>Listing movie_hours</h1>

<table>
  <thead>
    <tr>
      <th>Hour</th>
      <th>Room</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_hours.each do |movie_hour| %>
      <tr>
        <td><%= movie_hour.hour %></td>
        <td><%= movie_hour.room.name %></td>
        <td><%= link_to 'Show', movie_hour %></td>
        <td><%= link_to 'Edit', edit_movie_hour_path(movie_hour) %></td>
        <td><%= link_to 'Destroy', movie_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie hour', new_movie_hour_path %>
