<p id="notice"><%= notice %></p>

<p>
  <strong>Hour:</strong>
  <%= @movie_hour.hour %>
</p>

<p>
  <strong>Room:</strong>
  <%= @movie_hour.room.name %>
</p>

<%= link_to 'Edit', edit_movie_hour_path(@movie_hour) %> |
<%= link_to 'Back', movie_hours_path %>
