<p id="notice"><%= notice %></p>

<div style="float: left; margin-right: 50px">
  <%= image_tag @movie.cover_url %>
</div>

<div style="float: left; width: 700px">

  <p style="font-size: 25px; color: #C60200; font-weight: 100">
  <%= @movie.title %>
  </p>

  <br>


  <p>
    <strong>Synopsis:</strong>
    <br>
    <%= @movie.synopsis %>
  </p>

  <div style="clear: both"><br /></div>

  <div style="float: left; margin: 0 80px">
    <strong>Duration in minutes:</strong>
    <br>
    <%= @movie.durationInMinutes %>
  </div>

  <div style="float: left">
    <strong>Director:</strong>
    <br>
    <%= @movie.director %>
  </div>

  <div style="float: left; margin: 0 80px">
    <strong>Gender:</strong>
    <br>
    <%= @movie.gender %>
  </div>

  <div style="clear: both"><br /><br /></div>

  <div>
    <% @movie.cinemas.each do |cinema| %>
        <span style="font-size: 16px"><%= cinema.name %></span>
        <br />

        <div>
          <% hours = Hour.where(movie_id: @movie.id, cinema_id: cinema.id).all%>
          <% unless hours.empty? %>
              <br />
              <table class="table table-condensed">
                <tr class="active">
                  <% hours.each do |hour| %>
                      <td><span><%= I18n.l(hour.hour, :format => :short) %></span></td>
                  <% end %>
                </tr>
              </table>
          <% end %>
        </div>

       
    <% end %>
  </div>
</div>

