<p id="notice"><%= notice %></p>

<div style="float: left">
  <%= image_tag @movie.cover.url(:medium) %>
</div>

<div style="float: left; padding-left: 30px">

  <p style="font-size: 22px; color: #C60200">
  <%= @movie.title %>
  </p>

  <br>

  <p>
    <strong>Synopsis:</strong>
    <br>
    <%= @movie.synopsis %>
  </p>

  <p>
    <strong>Age:</strong>
    <br>
    <%= @movie.age %>
  </p>

  <p>
    <strong>Duration in minutes:</strong>
    <br>
    <%= @movie.duration_in_minutes %>
  </p>

  <p>
    <strong>Director:</strong>
    <br>
    <%= @movie.director %>
  </p>

  <p>
    <strong>Gender:</strong>
    <br>
    <%= @movie.gender %>
  </p>

</div>



  <!--<%= link_to 'Edit', edit_movie_path(@movie) %> |-->
<!--<%= link_to 'Back', movies_path %>-->
