<div class="breadcrumb">
  <span style="font-weight: bolder">Horários</span>
  <span class="btnAdd"><%= link_to 'New Hour', new_hour_path %></span>
</div>

<table width="100%">
  <thead>
    <tr>
      <th>Hour</th>
      <th>Room</th>
      <th>Movie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hours.each do |hour| %>
      <tr>
        <td><%= l(hour.hour, :format => :short) %></td>
        <td><%= hour.room.name %></td>
        <td><%= hour.movie.title %></td>
        <td><%= link_to 'Show', hour %></td>
        <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
        <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


