<div id="pageAddresses" class="addressesContent">

<div class="breadcrumb">
  <span style="font-weight: bolder"><%= t('list_address') %></span>
  <span class="btnAdd"><%= link_to t('new_address'), new_address_path %></span>
</div>

<table width="100%">
  <thead>
    <tr>
      <th><%= t('street') %></th>
      <th><%= t('number') %></th>
      <th><%= t('city') %></th>
      <th><%= t('country') %></th>
      <th><%= t('state') %></th>
      <th><%= t('cep') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.number %></td>
        <td><%= address.city %></td>
        <td><%= address.country %></td>
        <td><%= address.state %></td>
        <td><%= address.cep %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>

