<div class="breadcrumb">
  <span style="font-weight: bolder">Listas de Fotos</span>
  <span class="btnAdd"><%= link_to 'New Photo', new_photo_path %></span>
</div>

<table width="100%">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.movie.title %></td>
        <td><%= photo.image_url %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


