<%= form_for(@cinema) do |f| %>
    <% if @cinema.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cinema.errors.count, "error") %> prohibited this cinema from being saved:</h2>

          <ul>
            <% @cinema.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label t('name') %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label t('address') %>
      <br>
      <%= f.collection_select(:address_id, Address.all, :id, :street) %>
    </div>
    <div class="field">
      <%= f.label t('opentime') %>
      <br>
      <%= f.datetime_select :openTime %>
    </div>
    <div class="field">
      <%= f.label t('closetime') %>
      <br>
      <%= f.datetime_select :closeTime %>
    </div>
    <div class="field">
      <%= f.label t('sunday_new') %>
      <br>
      <%= f.text_field :sunday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label t('monday_new') %>
      <br>
      <%= f.text_field :monday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label t('tuesday_new') %>
      <br>
      <%= f.text_field :tuesday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label t('wednesday_new') %>
      <br>
      <%= f.text_field :wednesday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label t('thursday_new') %>
      <br>
      <%= f.text_field :thursday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label t('friday_new') %>
      <br>
      <%= f.text_field :friday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label t('saturday') %>
      <br>
      <%= f.text_field :saturday, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="field">
      <%= f.label t('holiday') %>
      <br>
      <%= f.text_field :holiday_price, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
