<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %></strong>
  <%= @cinema.name %>
</p>

<p>
  <strong><%= t('key') %></strong>
  <%= @cinema.key %>
</p>

<p>
  <strong><%= t('address') %></strong>
  <%= @cinema.address.street %>
</p>

<p>
  <strong><%= t('opentime') %></strong>
  <%= @cinema.openTime %>
</p>

<p>
  <strong><%= t('closetime') %></strong>
  <%= @cinema.closeTime %>
</p>

<p>
  <strong><%= t('sunday') %></strong>
  <%= @cinema.sunday %>
</p>

<p>
  <strong><%= t('monday') %></strong>
  <%= @cinema.monday %>
</p>

<p>
  <strong><%= t('tuesday') %></strong>
  <%= @cinema.tuesday %>
</p>

<p>
  <strong><%= t('wednesday') %></strong>
  <%= @cinema.wednesday %>
</p>

<p>
  <strong><%= t('thursday') %></strong>
  <%= @cinema.thursday %>
</p>

<p>
  <strong><%= t('friday') %></strong>
  <%= @cinema.friday %>
</p>

<p>
  <strong><%= t('saturday') %></strong>
  <%= @cinema.saturday %>
</p>

<p>
  <strong><%= t('holiday') %></strong>
  <%= @cinema.holiday_price %>
</p>
<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
